@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
    <div class="widget-content widget-content-area br-6">
        <div class="widget-header">
            <div class="row">
                <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                    <h4>Cambiar contraseña</h4>
                </div>
            </div>
        </div>
        @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post))
        {
            <div class="row mb-4">
                <div class="col-xl-4">
                    <label>Nueva contraseña</label>
                    <input type="password" class="form-control form-control-sm" id="ResetPassword" name="ResetPassword" required />
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4">
                    <input class="btn btn-primary mb-2" type="submit" id="btnCambiarContrasena" value="Actualizar" />
                    <a class="btn btn-outline-primary mb-2" asp-area="" asp-controller="Home" asp-action="Index">Cancelar</a>
                </div>
            </div>
        }
    </div>
</div>
@{
    if (TempData["msg"] != null)
    {
        <script>alert(`Registro de usuario @TempData["msg"]`)</script>
    }
}