@{
    ViewData["Title"] = "Página de inicio";
    ViewData["Nav"] = "00";

    ViewData["CabNav"] = "Dashboard";
    ViewData["DetailNav"] = "Inicio";
}

<div class="col-xl-12 col-lg-12 col-md-12">
    <div class="text-center">
        <h2 class="display-4">Sistema de Control de Firma Digitales CFD</h2>
        <!--<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>-->
    </div>
</div>
