@{
    ViewData["Title"] = "Privacy Policy";
    ViewData["Nav"] = "000";

    ViewData["CabNav"] = "Dashboard";
    ViewData["DetailNav"] = "Privacy Policy";
}

<div class="col-xl-12 col-lg-12 col-md-12">
    <div class="text-center">
        <h1 class="display-4">@ViewData["Title"]</h1>
        <p>Use this page to detail your site's privacy policy.</p>
    </div>
</div>
