@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<body>
    <div class="col-xl-12 col-lg-12 col-sm-12 layout-spacing">
        <div class="widget-content widget-content-area br-6">
            <div class="widget-header">
                <div class="row">
                    <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                        <h4>Registro de firma digital</h4>
                    </div>
                </div>
            </div>
            <div class="widget-content widget-area-form">
                <form>
                    <div class="col-xl-6 ">
                        <div class="col-lg-6">
                            <input class="btn btn-primary mb-2" type="submit" value="Grabar" />
                            <a class="btn btn-outline-primary mb-2" asp-area="" asp-controller="FirmaDigital" asp-action="Index">Salir</a>
                        </div>
                        <div class="col-lg-6">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
